In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Titanic SQL Example") \
    .getOrCreate()

### Read the data first

In [ ]:
spark.read.csv("data/Titanic_data.csv")

In [ ]:
t_raw_data = spark.read.csv("data/Titanic_data.csv",header=True,inferSchema=True,)
t_raw_data

### Start exploring the data

In [ ]:
# See how the data looks like
t_raw_data.show()
# Pclass: Passenger Class
# Survived either 1 or 0
# GenderCode 1 for female, 0 for male

In [ ]:
t_raw_data.count()

In [ ]:
# Print the schema
t_raw_data.printSchema()

In [ ]:
# Describe the data
t_raw_data.describe().show()

In [ ]:
t_names = spark.read.csv("data/Titanic_names.csv",header=True,inferSchema=True,)
t_names

### Sanitize the data

In [ ]:
# Try to remove the 0.0 from the age column
t_data = .....

In [ ]:
t_data.count()

In [ ]:
t_data.describe().show()

### Start SQL Queries on the dataframe

In [ ]:
# Create a temporary view in order to use SQL queries
t_data.createOrReplaceTempView('titanic_data')

In [ ]:
# Show only survivors
survivors = spark.sql("SELECT * FROM titanic_data WHERE survived = 1")
survivors.show()
survivors.count()

In [ ]:
# Show only female survivors

In [ ]:
# List different types of passenger classes

In [ ]:
# List number of people in each passenger class

In [ ]:
# List number of survivors in each passenger class

#### Using dataframe functions

In [ ]:
# but use 't_raw_data' dataframe to compare with original data
t_raw_data.filter(t_raw_data.Survived == 1).groupby("pclass").count().show()

In [ ]:
# display the list of number of people in each passenger class & list of number of survivors in each passenger class,
# as a single dataframe
dfclass_joined = dfclass_counts.join(dfclass_s_counts, "pclass")
dfclass_joined.show()

In [ ]:
dfclass_joined.select("pclass", dfclass_joined["pclass_survived_count"]/dfclass_joined["pclass_count"]).show()

#### Get the names

In [ ]:
t_names.createOrReplaceTempView("titanic_names")

In [ ]:
# Get the names of all males (IN)

In [ ]:
# List people and their ages given their ages is more than the average age

In [ ]:
# Attach the names of people with the above result (use the id column to join)
t_data_with_names = ....

In [ ]:
# Partition the data by columns
t_data_with_names.write.partitionBy("gender", "survived").parquet("data/titanic_part.parquet")

In [ ]:
df_part = spark.read.parquet("data/titanic_part.parquet")

#### ----

In [ ]:
# show the age, age groups (counts) ordered by age

In [ ]:
# show the age, age groups (counts) ordered by age for different genders ordered by age

In [1]:
# show the age, age groups (counts) ordered by age for different genders ordered by gender then age

### Adding new records

In [ ]:
from pyspark import Row
t_record_rdd = spark.sparkContext.parallelize([Row(id=0, Name="Jon Snow", PClass="2nd", Age=31.00, Gender="male", Survived=1, GenderCode=0)])
t_record_rdd.collect()

In [ ]:
t_record_df_unordered = t_record_rdd.toDF()
t_record_df_unordered.show()
t_record_df = t_record_df_unordered.select("id", "name", "pclass", "age", "gender", "survived", "gendercode")
t_record_df.show()

In [ ]:
# take a union of the above dataset with t_data_with_names